.UserMainInfo {
  flex: 2;
  &__username {
    font-size: 2.4rem;
  }

  &__userspec {
    font-size: 2rem;
    color: var(--color-primary-dark-2);
  }

  &__icon-container {
    display: flex;
    justify-content: space-between;
    margin: 1.4rem 0;
  }

  &__icon-box {
    width: 11%;
  }

  &__icon-inner-box {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
  }

  &__icon-innerest-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: var(--color-grey-dark);
    cursor: pointer;
  }

  &__icon--active {
    fill: var(--color-primary);
  }

  &__contact-container {
    font-size: 1.4rem;
  }

  &__contact-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-grey-dark);
    padding: 1.4rem 0;
  }

  &__contact {
    font-weight: bold;
  }

  &__video-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__video-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__video-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 200px;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3631),
        rgba(0, 0, 0, 0.3631)
      );
    }
  }

  &__video-box--active {
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 200px;
      background-image: linear-gradient(
        to bottom,
        rgba(229, 53, 158, 0.4288),
        rgba(153, 27, 207, 0.4587)
      );
    }
  }

  &__video-preview {
    width: 100%;
    border-radius: 100px;
  }

  &__icon-play {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-white);
  }

  &__video-title {
    font-weight: bold;
    text-align: center;
  }
}
